#header-logo {
    height: 100%;
    margin-right: 2vw;
    cursor: pointer;
    aspect-ratio: 1;
    font-family: "Lucida Handwriting", cursive;
    font-size: 24px;
    font-weight: 900;
    line-height: 275%;
    background-color: #fff;
}

.header-link {
    font-family: "Lucida Handwriting", cursive;
    place-self: center;
    margin: 3vw;
    font-size: 2vw;
    color: #000;
    text-decoration: none;
}

#header {
    background-color: #fffa;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 2vh;
    display: flex;
    border-bottom: 5px solid black;
    height: 9vh;
    max-height: 10vh;
}